* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3e9be;
    font-family: 'Times New Roman', Times, serif;
    color: #346739;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 6px;
    overflow-x: hidden;
}

header{
    background-color: #b1daac;
    background-attachment: local;
    color: #346739;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box;
}

.link{
    padding: 10px 15px;
    text-decoration: none;
    background-color: #82a87b;
    border-radius: 10px;
    border: #356e3b;
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-weight: bolder;
    color: #346739;
    padding: 5px;
}

h2{
    font-weight: bolder;
    color: #346739;
    text-align: center;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 8px;
}

div{
    width: 100%;
    margin-left: 4px;
    border-radius: 20px;
    background-color: #b1daac;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

button{
    background-color: #82a87b;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: #346739;
    margin: 20px;
}

.contenedorgrandslams{
    display: flex;
}

.australia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.rolandg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.wimbledon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

main{
    background-color: #c3e9be;
}

footer{
    background-color: #b1daac;
    color: #346739;
    margin-top: 10px;
    padding: 3px;
}


@media screen and (max-width: 900px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
    header{
        flex-wrap: wrap;
    }
    .contenedorgrandslams{
        display: flex;
        flex-wrap: wrap;
    }
}

